@model IEnumerable<Group_26_Final_Project.Models.AppUser>

@{ ViewData["Title"] = "Index"; }

<h1>Manager List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>
            <th>
                Birthdate
            </th>
            <th>
                Address
            </th>
            <th>
                Phone Number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StreetAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <a asp-action="EditManager" asp-route-email="@item.Email">Edit</a>
                    <a asp-action="ChangeManagerPassword" asp-route-email="@item.Email">Change Password</a>
                </td>
            </tr>
        }
    </tbody>
</table>